@inherits LayoutComponentBase

<PageTitle>SGGenetics</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://api.whatsapp.com/send?phone=573173851909&text=hola">Gustavo Avella 2023</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
